<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memo</title>
    <link rel="stylesheet" href="./styles/stylesheet.css">
    <link rel="stylesheet" href="./styles/mobile.css">
</head>
<body>

    <main>
        <div class="images">
            <span id="one"> </span>
            <span id="two"> </span>
            <span id="three"> </span>
            <span id="four"> </span>
            <span id="five"> </span>
            <span id="six"> </span>
         
            <img id="pol2" src="img/pol1.jpg">
            <img id="pol1" src="img/pol2.jpg">
          
            
            <img id="lcamera" src="img/camera.png">



            <img id="arrow" src="img/arrow.png">
            <img id="circle" src="img/circles.png">
            <img id="grid" src="img/grid.png">

            <div id="stars">
                <img src="img/str.png">
                <img  src="img/str.png">
                <img  src="img/str.png">

            </div>
            
        </div>

        <div id="hero">
            <h1>Create your own memories</h1>
        </div>

    </main>

    <footer>
        <div class="foot">
            <div class="leafimg">
                <img id = "footrope1" src="img/rope.png">
                <img id = "footrope2" src="img/rope.png">
                
                
            </div>    
            
            <div class="footcard">
                <h2>Get Started </h2>
                <a href="/signup"> now </a>
            </div>
        </div>

    </footer>
    
</body>
</html>